<%- include('headVchef.ejs') %>
  <div class="search-container" style="height: fit-content;">
    <form action="/vchef/search/result" method="get">
      <input type="text" placeholder="Search.." name="search">
      <input type="hidden" name="userID" value="<%= user.userID %>">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <button onclick="redirectTo('/user/explore/ingredients', '<%= user.userID %>')" id="sbtn">By Ingredients</button>
  </div>
  <div class="g0" style="padding: 20px;margin-top: 20px; border: 3px solid black;">
    <h3>Search Results</h3>
    <div class="row">
      <% recipes.forEach(recipe=> { %>
        <div class="column">
          <div class="card">
            <img src="<%= recipe.imageSrc %>" alt="<%= recipe.recipeName %>" width="200px" height="200px">
            <div class="container">
              <h4>
                <%= recipe.recipeName %>
              </h4>
              <p class="title">
                <% recipe.hashtags.forEach(hash=> { %>
                  <%= hash %>
                    <% }); %>
              </p>
              <p><button class="button1"
                  onclick="redirectTo('<%= recipe.rootURL %>', '<%= user.userID %>')">View</button></p>
            </div>
          </div>
        </div>
        <% }); %>

          <% userRecipes.forEach(userRecipe=> { %>
            <div class="column">
              <div class="card">
                <img src="../../uploads/<%= userRecipe.imageURL %>" alt="<%= userRecipe.reciepName %>" width="200px"
                  height="200px">
                <div class="container">
                  <h4>
                    <%= userRecipe.reciepName %>
                  </h4>
                  <p><button class="button1"
                      onclick="redirectTo('<%= userRecipe.rootURL %>', '<%= user.userID %>')">View</button></p>
                </div>
              </div>
            </div>
            <% }); %>
    </div>
  </div>


  <%- include('footVchef.ejs') %>